version: '3'

services:

  nginx:
    image: nginx:1.17.10
    container_name: nginx-czhub
    depends_on:
        - frontend
        - backend
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 80:80

  frontend:
    image: frontend
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    depends_on:
        - backend
    ports:
      - 5001:5001
    restart: on-failure

  backend:
    image: backend
    container_name: backend
    volumes:
      - ./backend:/app
    build:
      context: ./backend
      dockerfile: Dockerfile
    depends_on:
      - database
    ports:
      - 5002:5002
    restart: on-failure

  database:
    image: postgres:latest
    ports:
      - 5432:5432

    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: default_database

    volumes:
      - ./db-data/:/var/lib/postgresql/data/
