pandas
aiofiles
authlib
bs4
httpx
fastapi
fastapi-restful
uvicorn
requests
requests-oauthlib
itsdangerous
psycopg2-binary
pydantic[dotenv]
pydantic[email]
asyncpg
SQLAlchemy
pytest
pytest-asyncio
alembic
python-jose
